.section-peminjaman-buku{
    padding-top: 80px;
    padding-bottom: 100px;
  }
  h1{
    text-align: center;
  }
  .anggota{
    margin: 15px;
  }
  .btn{
    margin: 15px;
  }
  .pjm{
    text-align: center;
    padding-top: 30px;
    font-size: 18px;
    button{
      width: 150px;
      height: 40px;
    }
  }
  .dtl-anggota{
  margin: 15px;
  }
  .btm-bor{
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .anggota input{
    background-color: #C4C4C4;
  }
  .dtl-anggota input{
    background-color: #D8EFFE;
  }
  .dtl-buku input{
    background-color: #D8EFFE;
  }
    // NAVBAR
    #bg-nav {
        height: 60px;
        width: 100%;
        top: 0px;
        left: 0px;
        right: 0px;
        background: #ffffff;
        flex-wrap: wrap;
        padding-bottom: 10px;
      }
      .nav {
        color: #333333;
      }
      
      /* tulisan logo */
      .nav h1 {
        bottom: 500px;
        height: 40px;
        float: left;
        padding: 9px 50px;
        font-family: "roboto";
      }
      .nav form {
        margin-bottom: 10px;
      }
      
      /* SEARCH */
      .nav form input {
        border-top-width: 2px;
        border-right-width: 2px;
        border-bottom-width: 2px;
        border-left-width: 2px;
        border-style: solid;
        border-color: #333333;
        background: #ffffff;
        margin: 14px auto;
        padding: 10px 10px;
        width: 450px;
        font-family: "roboto";
        margin-bottom: -100px;
        height: 31px;
        font-size: 12px;
        font-family: "roboto";
      }
      
      /* tombol login dsb */
      .nav ul {
        bottom: 15px;
        float: left;
        position: relative;
        font-family: "roboto";
      }
      .nav ul li {
        display: inline-block;
        margin: 10px;
        margin-top: 27px;
      }
      .nav ul li img {
        bottom: 500px;
        height: 20px;
        margin: 10px;
      }
      .nav ul li a {
        display: inline-block;
        text-decoration: none;
        color: #333333;
      }
      .nav2 ul {
        position: relative;
        font-family: "roboto";
        margin-bottom: -5px;
      }
      .nav2 ul li {
        display: inline-block;
        margin: 10px;
        margin-top: 17px;
      }
      
      .nav2 ul li a {
        display: inline-block;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        color: black;
        position: relative;
        padding: 0px 10px;
      }
      
      .nav2 ul li a:after {
        content: "";
        position: absolute;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -5px;
      }
      .nav2 ul li a:hover {
        font-weight: bold;
      }
      .nav2 ul li a:hover::after {
        width: 100%;
      }
      
      .footers{
        background-color: #2c2c2c;
      }
      .Footer-menu {
        background-color: #2c2c2c;
        color: #2c2c2c;
      }
      .Footer-menu .gradi a {
        background-color: #2c2c2c;
        color: #ffffff;
      }
      .list-unstyled{
        background-color: #2c2c2c;
      }
      .gradi{
        background-color: #2c2c2c;
        color: white;
      }
      .get-connected {
        color: #ffffff;
        background-color: #2c2c2c;
        .icon {
          background-color: #2c2c2c;
          letter-spacing: 18px;
        }
        .icon a {
          background-color: #2c2c2c;
          color: white;
        }
      }